/* CSS Document */

body {
	font-family: Verdana;
	font-size:100%;
	background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p, ul, li, form {
	margin: 0px;
	padding: 0px;
}

.offline {

	color: #ccc;
}

.evidenziato {

	color: #FF9900;
}

.secondolink {

	color: #FF9900;
	font-weight: normal;
}

.need {
	font-weight: bold;
}

#sfondo_left {
	margin: 0px;
	padding: 0px;
	background-color: #a92020;;
	/*background-image: url('../images/logo_vert.gif');
	background-repeat: no-repeat;
	background-position: bottom left;
	border: 1px solid #000;*/
}

img {
	border: none;
}

#spalla_1 {

	width: 100px;
	height: 150px;
	float: left;
	margin-top: 10px;
	padding: 0px;
	/*border: 1px solid #000;*/
}

#spalla_2 {

	clear: both;
	width: 100px;
	float: left;
	margin: 0px;
	padding: 0px;
	/*border: 1px solid #000;*/
}

#spalla_3 {
	clear: both;
	width: 108px;
	float: left;
	margin-top: 18px;
	padding: 0px;
	/*border: 1px solid #000;*/
}

.bottone {

	width: 72px;
	height: 30px;
	float: left;
	margin-top: 12px;
	padding-left: 8px;
	/*border: 1px solid #000;*/
}


#messaggio_cancella {
	margin-bottom: 15px;
	padding: 0px;
	width: 100%;
	text-align: center;
}


#tasti_cancella {
	text-align: center;
	margin-bottom: 20px;
}


.tasto_canc {
	width: 50px;
	margin-right: 50px;
}

input.larghezza_bottone {
	width: 50px;
}

div#box_form {

	float: left;
	width: 96%;
	margin: 0px;
	margin-left: 8px;
	/*border: 1px solid #000;*/
}

.p_elemento_form {

	float: left;
	width: 100%;
	margin: 0px;
	font-size: 70%;
	color: #333333;
	text-decoration: none;

}

select.select_form {

	font-size: 9px;
	color: #333333;
	text-decoration: none;
}


.box_elemento_form1 {

	float: left;
	width: 100px;
	margin: 0px;
	margin-right: 8px;
	/*border: 1px solid #000;*/
}

.box_elemento_form2 {

	float: left;
	width: 280px;
	margin: 0px;
	margin-right: 8px;
	/*border: 1px solid #000;*/
}

.box_elemento_form3 {

	float: left;
	width: 150px;
	margin: 0px;
	margin-right: 8px;
	/*border: 1px solid #000;*/
}

.box_elemento_form4 {

	float: left;
	width: 200px;
	margin: 0px;
	margin-right: 8px;
	/*border: 1px solid #000;*/
}


input.select_form {

	width: 100px;
	margin: 0px;
	border: 1px solid #000;
}


/* inizio contenuto principale */
div#contenuto_principale {
	width: 94%;
	margin-left: 14px;
	margin-right: 10px;
	font-size: 80%;
	font-family: Verdana;
	font-weight: normal;
	text-decoration: none;
	color: #333333;
	/*border: 1px solid #FF0000;*/
}

#titolo_pag {
	clear: both;
	width: 100%;
	height: 24px;
	font-size: 100%;
	color: #FFF;
	background-color: #a92020;
	border: 1px solid #a92020;
}

#titolo_pag h1 {
	width: 80%;
	padding-top: 4px;
	padding-left: 14px;
	font-size: 120%;
	color: #FFF;
	float:left;
	background-color: #a92020;
	/*border: 1px solid #000;*/
}


.blocco_centralcat {
	float: left;
	width: 100%;
	padding-top: 14px;
	margin-bottom: 24px;
	border: 1px solid #333333;
}


.centrato {
	width: 50%;
	margin-left: 80px;
	padding-top: 14px;
	padding-left: 8px;
	margin-bottom: 24px;
	border: 1px solid #CCCCCC;
}

.blocco_centralcat_par {
	float: left;
	width: 100%;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-bottom: 14px;
	background-color: #a92020;
	border: 1px solid #a92020;
}

.blocco_centralcat_par2 {
	float: left;
	width: 100%;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-bottom: 14px;
	background-color: #FF9900;
	border: 1px solid #FF9900;
}

.titolo_par {
	margin-bottom: 14px;
	padding-left: 14px;
	padding-right: 5px;
	font-weight: normal;
	/*border: 1px solid #333333;*/
}

.blocco_centralcat ul {
	width: 94%;
	float: left;
	padding: 0px;
	padding: 8px 5px 14px 14px;
	list-style-type: none;
	/*border: 1px solid #FF0000;*/
}

.blocco_centralcat ul li {
	width: 98%;
	padding-top: 12px;
	margin-bottom: 8px;
	height: 24px;
	border: none;
	font-size: 90%;
	background-image: url('../images/puntini_grigi.gif');
	background-repeat: repeat-x;
	background-position: bottom;
	/*border: 1px solid #000;*/
}

.semaforo {
	margin-right: 12px;
	padding: 0px;
	float: left;
	/*border: 1px solid #ff9900;*/
}

.id_notizia_cat {
	float: left;
	display: block;
	width: 42px;
	margin-right: 6px; 
	padding-left: 2px;
	padding-right: 2px;
	color: #FFF;
	background-color: #a92020;
	text-align: right;
 	/*border: 1px solid #000000;*/
}

.notizia_cat {
	float: left;
	display: block;
	width: 85%;
	/*border: 1px solid #FF0000;*/
}

.notizia_cat a {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

.notizia_cat a:hover{

	color: #FF9900;
	font-weight: bold;
	text-decoration: none;
}

.notizia_cat2 {
	float: left;
	width: 60%;
	/*border: 1px solid #FF0000;*/
}

.rigo_mask {
	width: 97%;
	margin-bottom: 0.4em;
	margin-left: 0.5em;
	padding-top: 0.4em;
	padding-bottom: 0.2em;
	display: block;
 	/*border: 1px solid #000; */
}

.testo_mask {
	margin-right: 15px;
	padding-left: 0.8em;
	width: 110px;
	float: left;
/* 	border: 1px solid #ff9900; */
}

.campo_mask {
	margin-left: 142px;
	padding-right: 20px;
	padding-left: 0px;
	/*border: 1px solid #0000;*/
}

.campo_mask ul {
	padding: 0px;
	margin-bottom: 8px;
	width: 92%;
	display:block;
	/*border: 1px solid #ff9900;*/
	list-style-type: none;
}

.campo_mask ul li {
	margin: 0px;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	display: block;
	width: 92%;
	float: left;
	height: 20px;
	background-image: url('../images/puntini_grigi.gif');
	background-repeat: repeat-x;
	background-position: bottom;
}

.campo_mask ul li a {
	font-weight: bold;
	color: #a92020;
	margin-left: 5px;
	/*border: 1px solid #cc9900;*/
}

.campo_mask ul li a:hover {
	color: #ff9900;
	/*border: 1px solid #cc9900;*/
}

.scrittura {
	background-color: #a92020;
	color: #FFFFFF;
}

.scrittura_campo {
	width: 540px;
	background-color: #a92020;
	color: #FFFFFF;
}

.lettura {
	width: 540px;
	background-color: #FF9900;
	color: #333333;
}

.lettura_media {
	width: 260px;
	background-color: #FF9900;
	color: #333333;
}

.lettura_piccolo {
	background-color: #FF9900;
	color: #333333;
}

input.bigcheck {
	width: 30px;
	height: 30px;
}

.intest {
	width: 98%;
	float: left;
	padding: 10px 0px 10px 14px;
	/*border: 1px solid #000;*/
}

#parentela {
	clear: both;
	float:left;
	width: 75%;
	margin-left: 8px;
	font-size: 100%;
	color: #333333;
	background-color: #FFF;
	border: 1px solid #a92020;
}

#parentela p {
	float:left;
	width: 96%;
	height: 16px;
	margin: 5px 5px 5px 5px;
	border-bottom: 1px solid #000;
}

#parentela a {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

#parentela a:hover {
	color: #FF9900;
	text-decoration: none;
	font-weight: bold;
}

#report {
	clear: both;
	float:left;
	width: 45%;
	margin-left: 8px;
	margin-bottom: 14px;
	font-size: 100%;
	color: #333333;
	background-color: #FFF;
	border: 1px solid #a92020;
}

#titolo_report {

	float:left;
	width: 100%;
	height: 16px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #a92020;

}
#report p {
	float:left;
	width: 96%;
	height: 16px;
	margin: 5px 5px 5px 5px;
	border-bottom: 1px solid #000;
}

#report a {
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

#report a:hover {
	color: #FF9900;
	text-decoration: none;
	font-weight: bold;
}


#pulsanti {
	float:right;
	width: 180px;
	margin-top: 4px;
	/*border: 1px solid #FF0000;*/
}

#pulsanti_fin {
	float:right;
	width: 30%;
	margin-top: 4px;
	/*border: 1px solid #FF0000;*/
}

.pulsante {
	width: 50px;
	float: left;
	margin-left: 2px;
	/*border: 1px solid #FF0000;*/
}



.button_mask {
	width: 95%;
	margin-bottom: 0.4em;
	padding-bottom: 0.4em;
	margin-left: 20px;
	display: block;
	text-align: left;
	font-size: 1.6em;
	font-weight: bold;
	/*border: 1px solid #000;*/
}

.rigo_mask_intero {
	width: 95%;
	margin-bottom: 0.4em;
	padding-bottom: 0.4em;
	display: block;
	text-align: right;
	font-size: 1.6em;
	font-weight: bold;
/* 	border: 1px solid #000; */
}

.linea{
	margin-left: 14px;
	width: 96%;
	height: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-image: url('../images/linea.gif');
	background-repeat: repeat-x;
}

.barra_inf {
	clear: both;
	float: left;
	width: 100%;
	height: 40px;
	background-color: #a92020;
	border: 1px solid #a92020;
	/*border: 1px solid #FF9900;*/
}


.sottoatutto {
	clear: both;
	float: right;
	width: 120px;
	height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: 30px;
	text-align: center;
	font-size: 100%;
	color: #333333;
	background-color: #FF9900;
}


.avviso_comandi {
	float: left;
	width: 400px;
	text-align: left;
	font-size: 100%;
	color: #FFF;
	border: 1px solid #FF9900;
}

.comandi {
	float: right;
	width: 420px;
	height: 20px;
	padding-top: 8px;
	padding-right: 20px;
	text-align: right;
	font-size: 100%;
	color: #FFF;
	/*border: 1px solid #FF9900;*/
}

.comandi2 {
	float: right;
	width: 100px;
	height: 20px;
	padding-top: 18px;
	padding-left: 25px;
	/*border: 1px solid #FF9900;*/
}

.comandi_lungo {
	float: right;
	width: 98%;
	height: 20px;
	padding-top: 8px;
	padding-right: 20px;
	text-align: right;
	font-size: 100%;
	color: #FFF;
/* 	border: 1px solid #FF9900; */
}


.permessi {
	margin: 0px;
	float: right;
	display: block;
	width: 250px;
/*  border: 1px solid #cc0000;  */
}



/*********************************************
numerazione e ordinamento
**********************************************/
div#pulsantiera {
	float:left;
	width: 94%;
	margin-top: 5px;
	margin-bottom: 14px;
	margin-left: 14px;
	padding-bottom: 4px;
	/*height: 120px;*/
	font-size: 80%;
	text-decoration: none;
	border: 1px solid #FF9900;
}

div#lettere {
	width: 94%;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 8px;
	height: 24px;
	/*border: 1px solid #FF9900;*/
}

.lettera {

	float: left;
	margin: 5px 3px 5px 3px;
}

.numerazione {

	width: 94%;
	float: left;
	margin: 5px 5px 5px 5px;
	text-align: left;
	/*border: 1px solid #000;*/
}

.numerazione a {

	text-decoration: underline;
}

.numero {

	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
/* 	border: 1px solid #000; */
}

.cambia_nxpagina {

	margin:0px;
	width: 94%;
	float:	left;
	margin: 5px 5px 5px 5px;
	text-align: left;
	/*border: 1px solid #000;*/
}

.ordinaper {
	margin: 0px;
	margin-top: 8px;
	padding-left: 8px;
	width:94%;
	float:left;
	/*border: 1px solid #FF9900;*/
}

.blocco_ordinaper {
	float:left;
	margin-right: 10px;
	width: 80px;
}
/* fine numerazione e ordinamento */



/* inizio login */
#login {
	margin: 0 auto;
	/*padding: 20px;*/
	margin-top: 50px;
	width: 780px;
	height: 440px;
	/*background-color: #a92020;*/
	background-color: #FFFFFF;
	border: 1px solid #333333;
}

#login h1,h2,h3{
	color: #FFF;
}

#login_a {
	float: left;
	margin: 0px;
	width: 108px;
	height: 440px;
	background-color: #a92020;
	background-image: url('../images/logo_vert.gif');
	background-repeat: no-repeat;
	background-position: bottom;
	/*border: 1px solid #000;*/
}

#login_b {
	float: left;
	margin: 0px;
	width: 672px;
	height: 440px;
	background-color: #FFFFFF;
	background-image: url('../images/sfondo_brain.gif');
	background-repeat: no-repeat;
	background-position: top right	;
	/*border: 1px solid #000;*/
}

#ver {
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	padding-left: 8px;
	width: 600px;
	height: 40px;
	/*border: 1px solid #000;*/
}

#ver h2 {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #993333;
}


#form_a {
	float: left;
	margin-top: 155px;
	margin-left: 30px;
	width: 300px;
	height: 200px;
	/*border: 1px solid #000;*/
	
}

#form_b {
	float: right;
	margin-top: 310px;
	margin-right: 30px;
	width: 150px;
	height: 40px;
	/*border: 1px solid #000;*/
}

.label {
	margin-left: 8px;
	margin-bottom: 4px;
	font-size: 70%;
	color: #333333;
	text-decoration: none;
}

.element {
	margin-bottom: 12px;
}

input.form_element {
	width: 224px;
	padding-left: 8px;
	border: 1px solid #333333;
	color: #993333;
	font-size: 80%;
	font-weight: bold;	
}

#logo_azienda {
	float: left;
	margin-top: 8px;
	margin-left: 3px;
	width: 200px;
	height: 40px;
	/*border: 1px solid #000;*/
}

.error {
	color: #FF9900;
}

/* fine login */

div#credits {
	clear: both;
	margin-top: 50px;
	color: #333333;
	font-size: 10px;
	text-decoration: none;
	/*border: 1px solid #000;*/
}

div#credits a {
	color: #FF9900;

}









/*************************************
 main.php 
 *************************************/
.livello {
	float:left;
	width: 94%;
	padding-left: 10px;
	padding-bottom: 0.6em;
	background-color: #FFF;
	font-size: 90%;
/* 	border: 1px solid #CCCCCC; */
}

.livello h2{
	width: 94%;
	padding-top: 20px;
	padding-left: 5px;
	color: #a92020;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #a92020;
}

#box_gestione {
	margin: 0px;
	/*margin-top: 15px;*/
	width: 100px;
	float: left;
/* 	border: 1px solid #cc0000; */
}

.img_gestione {
	margin: 0px;
	width: 50px;
	height: 50px;
	display: block;
/* 	border: 1px solid #cc0000; */
}

.logo_gestione {
 	margin: 0 auto;
	padding-top: 8px;
	width: 50px;
	/*border: 1px solid #ff9900;*/
}

.testo_gestione {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	text-decoration: none;
	color: #a92020;
	text-align: center;
	/*border: 1px solid #cc0000;*/
}

.testo_gestione a {
	color: #a92020;
}

.testo_gestione a:hover {
	color: #999999;
}














/* aggiunta */
div#blocco_centrale {

	float: left;
	width: 780px;
	margin-left: 8px;
	padding: 0px;
	font-size: 0.8em;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #333333;
}

.barra_superiore {

	height: 22px;
	padding-left: 20px;
	padding-top: 4px;
	background-color: #a92020;
}

div#briciola  {

	font-size: 70%;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

div#briciola a {

	color: #CCCCCC;
	font-weight: bold;
	text-decoration: none;
}


table#contenuto {

	float: left;
	width: 93%;
	margin: 10px 14px 14px 10px;
	padding: 0px;
	font-size: 80%;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #333333;
}

.icone {
	/*margin-right: 5px;*/
	margin: 0px;
	padding-right: 8px;
	float: right;
	width: 20px;
/* 	border: 1px solid #cc0000; */
}

.parte_sx {
	float: left;
	width: 40%;
/* 	border: 1px solid #FF0000; */
}

.parte_destra {
	/*margin-right: 5px;*/
	margin: 0px;
	padding-right: 8px;
	float: right;
	width: 55%;
/* 	border: 1px solid #cc0000; */
}

.occhiolino {
	/*margin-right: 5px;*/
	margin: 0px;
	padding-right: 8px;
	float: right;
	width: 20px;
	/*border: 1px solid #cc0000;*/
}

.icone_peso {
	/*margin-right: 5px;*/
	margin: 0px;
	float: right;
	width: 105px;
	/*border: 1px solid #cc0000;*/
}

.bottone_aggiungi {
	/*margin-right: 5px;*/
	margin: 0px;
	padding-right: 8px;
	float: right;
	width: 150px;
	/*border: 1px solid #cc0000;*/
}

.none a {
	text-decoration: underline;
}

.none {
	margin: 0px;
	width: 90%;
	padding-top: 15px;
	padding-bottom: 30px;
 	padding-left: 15px; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FF9900;
	text-decoration: none;
/* 	border: 1px solid #FF9900; */
}

.none a {
	text-decoration: underline;
}

table#elenco {

	float: left;
	width: 97%;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 80%;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #333333;
}

table#elenco_pesi {

	float: left;
	width: 60%;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 80%;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #333333;
}

.div_elenco {

	clear: both;
	float: left;
	width: 99%;
	padding: 0px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	/*border: 1px solid #FF0000;*/
}

.riga_tab {

	background-color: #CC0000;
	font-weight: bold;
	color: #FFFFFF;
}

.riga_sottolineata {

	background-color: #CCCCCC;
	color: #333333;
}

.riga_sottolineata_diversa {

	background-color: #fff3d7;
	color: #333333;
}

.riga_sottolineata_negata {

	background-color: #CCCCCC;
	color: #333333;
}

div#menu {
	width: 96px;
	/*border: 1px solid #000;*/
	list-style-type: none;
	margin-bottom: 12px;
}

.titolo_menu {
	width: 100%;
	display: block;
	padding-left: 3px;
	background-color: #FF9900;
	color: #FFFFFF;
	font-size: 80%;
	font-weight: bold;
}

.elemento_menu {
	width: 100%;
	padding-left: 3px;
	display: block;
	font-size: 80%;
	background-color: #eeeeee;
}

.elemento_menu a {
	color: #333333;
	font-size: 80%;
	padding-left: 3px;
	font-weight: normal;
	text-decoration: none;
}

.elemento_menu a:hover {
	color: #CCCCCC;
	font-size: 80%;
	font-weight: normal;
	text-decoration: none;
}

.elemento_menu a:visited {
	color: #333333;
	font-size: 80%;
	font-weight: normal;
	text-decoration: none;
}

