@charset "utf-8";
/* CSS Document */

body{
	overflow: hidden;
}

div#wrap-all #wrap-content .padding10{
	width: 100%;
	float: left;
}

/**********************************
	tabs
**********************************/
.tabs-nav { /* auto clear */
    display: inline-block;
}
.tabs-nav .tabs-disabled {
    position: relative; /* fixes opacity */
    filter: alpha(opacity=40);
}
.tabs-nav .tabs-disabled a span {
    _height: 19px; /* for some reason the height is 1px to less with opacity... */
    min-height: 19px; /* ...in both IE 6 and 7 */
}

#container-2 .tabs-nav { /* auto clear */
    display: inline-block;
}
#container-2 .tabs-nav .tabs-disabled {
    position: relative; /* fixes opacity */
    filter: alpha(opacity=40);
}
#container-2 .tabs-nav .tabs-disabled a span {
    _height: 19px; /* for some reason the height is 1px to less with opacity... */
    min-height: 19px; /* ...in both IE 6 and 7 */
}

div.warning {
width:100%;
}

div#wrap-all #wrap-content{
	padding-right: 20px;
}
