body {
	margin: 0;
	text-align: left;
	background-color: #FFF;
	font-family: Arial, Sans-Serif;
	font-size: 0.75em;
	background: #d6dde5;
	overflow-x: auto;
	overflow-y: scroll;
}

.div-nome-operatore {
	background-color: white;
	border: 0px solid;
	border-radius: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 4px 7px;
	width: fit-content;	
}
img {
	width: 250px;
	border-radius: 39px;
	border: 0px solid;
	margin-top: 40px;
}
	
.otp {
	width: 50px;
	height: 50px;
	border: solid 1px #cacaca;
	font-size: 24px;
	font-weight: 900;
	margin-right: .25rem;
	margin-left: .25rem;
}

.text-center {
	text-align: center;
}

.verify-btn {
	display: block;
	width: 250px;
	background-color: #8cc152;
	border-radius: 10px;
	border: 1px solid transparent;
	margin: 0 auto;
	padding: 12px 20px;
	color: #fff;	
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
}